%footer
  .row.justify-content-center
    .footer-nav
      %ul
        %li
          = link_to('Home', root_path)
        %li
          = link_to('Contact Me', root_path)
  .row.justify-content-center
    .copyright-line
      %p &copy 2019 Christian Lazo. All rights reserved. Software Developer

