%header
  .flex-wrapper
    .card-content
      %h1 Christian Lazo
      %p Building quality modern websites
      %button.btn.btn-light.btn-lg Learn More
    .background-container
.container
  .row
    .portflio
      %h1 hello this is stuff
