header {
  // height: 100%;
}
.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  z-index: 10;
  margin-top: 50%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-name {
  color: #FFFFFF;
  font-size: 100px;
  font-family: 'Work Sans', sans-serif;
  margin-right: 30px;
}

.last-name {
  color: #0f3f31;
  font-size: 100px;
  font-family: 'Work Sans', sans-serif;
  margin-right: 30px;
}

.heading {
  color: #CCCCCC;
  margin-left: 30px;
  text-align: right;
}

.header .col-sm {
  padding: 0;
}

// ###### Contact Me #######
.form {
  align-content: center;
}
.contact-form {
  padding: 30px 0 30px 0;
  text-align: center;
}

.contact-title {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 20px;
}

#custom-form {
  width: 600px;
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  font-size: 14px;
  font-family: inherit;
}


