%nav.navbar.my-nav.navbar-expand-lg.navbar-light
  %a.navbar-brand{:href => "#"}
    = image_tag('https://s3.us-east-2.amazonaws.com/christianlazo-assets/logo2.png', size: '55')

  %button.navbar-toggler{"aria-controls" => "navbarNav",
    "aria-expanded" => "false",
    "aria-label" => "Toggle navigation",
    "data-target" => "#navbarNav",
    "data-toggle" => "collapse",
    type: "button"}
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarNav
    %ul.nav.navbar-nav.ml-auto
      %li.nav-item{class: "#{'active' if params[:action] == 'index'}"}
        = link_to('Home', root_path, {class: 'nav-link'})
      %li.nav-item
        %a.nav-link{href: "#contact-form"} Contact Me
